Cheetah==2.4.4
Markdown==2.6.6
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
beautifulsoup4==4.4.1
bs4==0.0.1
lxml==3.6.0
pbp.skels==0.2.4
pypirc==1.0.4
pysolr==3.5.0
requests==2.10.0
six==1.10.0
stop-words==2015.2.23.1
wsgiref==0.1.2
zope.exceptions==4.0.8
zope.interface==4.2.0
zope.testing==4.5.0
